*{
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Microsoft Yahei',sans-serif;
}

img{
	max-width: 100%;
}

.container{
	text-align: center;
}

.header{
	background: rgb(34,41,44);
	width: 100%;
	height: 8vh;
	color: white;
	position: relative;
}

.main{
	background: rgb(104,205,213);
	color: white;
	height: 92vh;
	text-align: center;
}

.title_left{
	height: 50%;	
	position: absolute;
	left: 1%;
	top: 25%;
}

.title{
	height: 50%;	
	margin: 0;
	padding: 0;
	font-size: 4vh;
	padding-top: 1vh;
}

.title_right{
	height: 50%;	
	position: absolute;
	right: 1%;
	top: 25%;
}

.main_back{
	height: 10vh;
	padding-top: 2vmax;
	padding-right: 85vw;
}

.main_back img{
	width: 6vh;
}

.img_ptt{
	padding-top: 3vh;
	padding-bottom: 3vh;
	width: 100vw;
	height: 15vh;
}

.img_ptt img {
	height: 10vh;
	width: auto;
}
.text_ptt{
	padding: 5% 15%;
	font-size: 3vh;
}

.text_ptt p{
	text-align: left;
}

.ico_choose {
	font-weight: 900;
	padding-top: 5vh;
	width: 100vw;
	text-align: center;
}

.ico_1{
	float: left;
	width: 50vw;
	font-size: 2vh;
}

.ico_2{
	float: left;
	width: 50vw;
	font-size: 2vh;
}

.ico_1 img{
	width: 10vh;
}

.ico_2 img{
	width: 10vh;
}