* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Microsoft Yahei', sans-serif;
}

.container {}


/* header */
.header {
	width: 100vw;
	height: 6vh;
	margin-bottom: 1px;
	background: rgb(41, 189, 224);
	font-size: 3.5vh;
	font-weight: 400;
	text-align: center;
	color: white;
	padding-top: 2vh;
}

.header img {
	height: 4vh;
}

.header_home {
	width: 15vw;
	float: left;
}

.header_text {
	width: 70vw;
	float: left;
}

.header_more {
	width: 15vw;
	float: left;
}



/* main */
.main {
	padding-top: 2vh;
	padding-bottom: 2vh; 
	width: 100vw;
	background: rgb(41, 189, 224);
	text-align: center;
	color: white;
}

.main_img {
	
}

.main_img img {
	height: 20vh;
}

.main_text {
	padding: 2vh 15vw;
	color: rgb(255, 200, 101);
	font-size: 3vh;
	font-weight: 900;
	text-align: left;
}

.main_info {
	font-size: 2.5vh;
	text-align: left;
	padding: 0 15vw ;

}

.main_info_job {
}

.main_info_job div {
	float: left;
}

.main_info_key {
}

.main_info_key div {
	width: 22.5vh;
}


/* item */
.item {
	background: white;
	color: black;
	background: rgb(200, 200, 200);
	font-size: 2.5vh;
}

.item_1,
.item_2,
.item_3 {
	padding: 1vh 15vw 2vh;
	margin-bottom: 1px;
	background: white;
	height: 10vh;
}

.item_day {	
	font-weight: 900;
	float: left;
	width: 45vw;
}

.item_time {
	color: rgb(200,200,200);
	padding-top: .5vh;
	height: 4vh;
	font-size: 2vh;
	width: 25ve;
}

.item_msg {	
	padding: 0 2vw; 
	font-size: 2vh;
	color: rgb(200,200,200);
}


/* footer */
.footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 12vh;
	background: rgba(41, 189, 224, .5);
	color: white;
	font-size: 3vh;
	font-weight: 900;
	text-align: center;
}

.footer_button1 {
	float: left;
	width: 40vw;
	height: 8vh;
	border-radius: 2vh;
	margin: 2vh 5vw;
	background: rgb(246, 111, 111);
}

.footer_button2 {
	float: left;
	width: 40vw;
	height: 8vh;
	border-radius: 2vh;
	margin: 2vh 5vw;
	background: rgb(251, 180, 53);
}

.footer_button1 p,
.footer_button2 p {
	margin-top: 2vh; 
}