* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', sans-serif;
    vertical-align: middle;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 100vw;
}

.header {
}

.header_line {
    padding-left: 18.750vw;
    height: 2.083vw;
    background: white;
}

.header_line p {
    padding-top: 0.521vw;
    font-size: 1rem;
    color: #29b078;
    text-align: left;
}

.header_nav {
    height: 5.208vw;
    background: #29b078;
}

.banner {
    height: 31.25vw;
    background: black;
}

.content {
    height: 101.042vw;
    background: #fafafa;
}

.content_introduce {}

.content_learn {}

.content_classmate {}

.content_workmate {}

.friend {
    height: 7.031vw;
    background: white;
}

.footer {
    height: 10.417vw;
    background: #26a26f;
}

.footer_last {
    height: 1.563vw;
}

.footer_last p {
    color: white;
}