* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Microsoft Yahei', sans-serif;
}

.container {
    overflow: hidden;
}

/* click */
#passer {
    display: none;
}

#passer:checked ~ .content {
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transform: translateX(80vw) translateY(7.7vh);
    -webkit-transform: translateX(80vw) translateY(7.7vh);
    -moz-transform: translateX(80vw) translateY(7.7vh);
    box-shadow: 2px 7px 20px rgb(150,150,150);
}

/* nav */
.nav {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.nav_header {
    height: 8vh;
    background: rgb(41, 189, 224);
}

.nav_menu {
}

.nav_menu_item {
    border-bottom: solid 1px rgb(200,200,200);
    padding: 2vh;
    width: 100vw;
}

.nav_menu_item div {
    display: inline-block;
    vertical-align: middle;
}

.nav_menu_item p {
    margin-left: 5vw;
    margin-right: 45vw;
    height: 5vh;
    font-size: 3vh;
    font-weight: 400;
    color: rgb(105,209,233);
}

.nav_menu_item img {
    height: 5vh;
}
/* content */
.content {
    height: 100vh;
    width: 100vw;
    background: rgb(240,240,240);

    transition: 1s;
    -webkit-transition:1s;
    -moz-transition:1s;
}

.content_header {
    height: 8vh;
    background: rgb(41,189,224);
}

.content_header img {
    margin-top: 2.5vh;
    margin-left: 3vw;
    height: 3vh;
}

.content_last {
    border: 1px solid rgb(200,200,200);
    margin: 3vh 3vw 0;
    background: white;
    height: 10vh;

    text-align: center;
    color: rgb(150,150,150);
    font-size: 3vh;
    font-weight: 400;
}

.content_last p {
    padding-top: 3vh
}

.content_last img {
    height: 5vh;
    position: relative;
    left: 40vw;
    top: -4.5vh;
}

.content_game {
    border: 1px solid rgb(200,200,200);
    margin: 3vh 3vw 0;
    background: white;
}

.content_game_title {
    border-bottom:solid 1px rgb(251,180,53);
    padding: 2vh;

    text-align: center;
    color: rgb(251,180,53);
    font-size: 3vh;
    font-weight: 400;
}

.content_game_ver {
    text-align: center;
    margin: 2vh 10vw 0;
    color: rgb(150,150,150);
    font-size: 2vh;
}

.content_game_ver div {
    border-radius: 2vmin;
    margin-bottom: 2vh;
    height: 11vh;
    background: rgb(105,209,233);
}

.content_game_ver div p {
    padding-top: 4vh;
    font-size: 3vh;
    color: white;
}

.content_game_ver {}

.content_game_footer {
    margin-top: 2vh;
    text-align: center;
}

.content_game_footer  img {
    height: 2vh;
}

.content_game_arrow {
    position: absolute;
    top: 55%;
    right: 6%;
}

.content_game_arrow img {
    height: 6vh;
}
